/* style.css */
.list-view {
    -fx-font-size: 16px;
    -fx-background-color: #f4f4f4; /* Light grey background */
}

.list-cell {
    -fx-padding: 10px;
    -fx-border-color: silver; /* Lighter border color */
    -fx-border-width: 0 0 1 0; /* Border at the bottom of each cell */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 2); /* Soft shadow for depth */
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #039ed3; /* A vibrant selection color */
    -fx-text-fill: white; /* White text for better contrast on selection */
    -fx-font-weight: bold; /* Make the font bold on selection */
}

.list-cell:filled:hover {
    -fx-background-color: #e1e1e1; /* Slightly darker background on hover */
}

.list-cell:empty {
    -fx-border-width: 0; /* No borders for empty cells */
}
